{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.post_details'|trans({'%id%': post.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    {% if post is defined and post|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ post.createdAt|format_date('short') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ post.updatedAt|format_date('short') }}</dd>
            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{ post.content }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{ post.category.title }}</dd>
        </dl>
        <p>
            <a href="{{ url('post_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>


        <div class="d-flex align-items-center">
            <h2>{{ 'title.comment_list'|trans }}</h2>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ url('comment_create') }}" title="{{ 'action.create'|trans }}" class="btn btn-primary ml-auto" style="margin-left: 20px;">
                    {{ 'action.create'|trans }}
                </a>
            {% endif %}
        </div>
        {% if pagination is defined and pagination.items|length %}

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label.nickname'|trans, 'comment.nickname') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'comment.email') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'comment.content') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'comment.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'comment.updatedAt') }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in pagination.items %}
                    <tr>
                        <td>{{ comment.nickname }}</td>
                        <td>{{ comment.email }}</td>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.createdAt|format_date('long') }}</td>
                        <td>{{ comment.updatedAt|format_date('long') }}</td>
                        <td>
                            <a href="{{ url('comment_show', {id: comment.id}) }}" title="{{ 'action.view'|trans }}">
                                {{ 'action.view'|trans }}
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('comment_edit', {id: comment.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                            <a href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        {% endif %}

    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}